%p#notice= notice

%p
  %b Name:
  = @organization.name
%p
  %b Description:
  = @organization.description

%p
  %b Users

  %ul
    - @organization.organization_users.each do |u|
      %li
        %strong= u.user.email

        - unless u.roles.blank?
          [ #{u.roles.join(', ')} ]

= link_to 'Edit', edit_organization_path(@organization)
\|
= link_to 'Back', organizations_path
