%p#notice= notice

.page-header
  %h1= @organization.name

- unless @organization.description.blank?
  .row= @organization.description

%h3 Users

%table.table.table-striped
  %tr
    %th Email Address
    %th Roles
    %th

  - @organization.organization_users.each do |u|
    %tr
      %td= u.user.email
      %td= u.roles.blank? ? '' : u.roles.join(', ')
      %td
        = link_to 'Edit', edit_organization_organization_user_path(@organization, u), class: 'btn btn-small'
        = link_to 'Delete', [@organization, u], :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-small btn-danger'

.btn-group
  = link_to 'Add New User', new_organization_organization_user_path( @organization ), class: 'btn btn-primary'
  = link_to 'Edit Organization', edit_organization_path(@organization), class: 'btn'
  = link_to 'Back', organizations_path, class: 'btn'
