%h1 Editing site

%form{ action: '#', id: 'map-search' }
  = text_field_tag 'map-search-box'
  = submit_tag 'Search'

= map_canvas( [@site], true )

= render 'form'

= link_to 'Show', @site
\|
= link_to 'Back', sites_path
