%h1 Listing sites

= map_canvas( @sites, false, params[ :latitude ], params[ :longitude ] )

= link_to 'Near Me', site_near_url, id: 'near-me-link'

- if params[ :latitude ]
  = link_to 'All Sites', sites_path

- @sites.each do |site|
  %h2= link_to site.title, site

= link_to 'New Site', new_site_path
