.page-header
  %h1 Site Locations

.row
  .span10.offset1
    = map_canvas( @sites, false, params[ :latitude ], params[ :longitude ] )

    %p
      = link_to site_near_url, id: 'near-me-link', class: 'btn btn-primary btn-large' do
        %i.icon-search.icon-white
        What's Near Me?

      - if params[ :latitude ]
        = link_to  sites_path, class: 'btn btn-large' do
          %i.icon-globe
          All Sites

%table.table.table-striped.table-bordered
  %tr
    %th Site
  - @sites.each do |site|
    %tr
      %td= link_to site.title, site

- if can? :create, Site
  = link_to new_site_path, class: 'btn' do
    %i.icon-plus
    New Site
