%h1 Listing sites near #{params[ :latitude ]}, #{params[ :longitude ]}

%table
  %tr
    %th Title
    %th Latitude
    %th Longitude
    %th
    %th
    %th

  - @sites.each do |site|
    %tr
      %td= site.title
      %td= site.latitude
      %td= site.longitude
      %td= link_to 'Show', site
      %td= link_to 'Edit', edit_site_path(site)
      %td= link_to 'Destroy', site, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Site', new_site_path
