%p#notice= notice

#map_canvas{ data: { lat: @site.latitude, lng: @site.longitude, withmarker: 'true', editable: 'false' } }

%p
  %b Title:
  = @site.title
%p
  %b Latitude:
  = @site.latitude
%p
  %b Longitude:
  = @site.longitude
%p
  %b Description:
  = @site.description

= link_to 'Edit', edit_site_path(@site)
\|
= link_to 'Back', sites_path
